# .env.example

NODE_ENV=development
PORT=3000

# Database
DATABASE=mongodb+srv://<DB_USER>:<DB_PASSWORD>@cluster0.example.mongodb.net/<DB_NAME>?retryWrites=true
DATABASE_PASSWORD=<DB_PASSWORD>

# JWT Auth
JWT_SECRET=your-jwt-secret
JWT_EXPIRES_IN=90d
JWT_COOKIE_EXPIRES_IN=90

# Mailtrap / SMTP Email
EMAIL_USERNAME=your-email-username
EMAIL_PASSWORD=your-email-password
EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=25

EMAIL_FROM=your-email@example.com

# Brevo (Sendinblue) Email
BREVO_LOGIN=your-brevo-login
BREVO_KEY=your-brevo-api-key
BREVO_PASSWORD=your-brevo-password

# Stripe
STRIPE_SECRET_KEY=your-stripe-secret-key
