footer.footer
    .footer__logo 
        img(src='/img/logo-footer-1.png' alt='TripHarbour logo')
    ul.footer__nav
        li: a(href='#') About us
        li: a(href='#') Download Application
        li: a(href='#') Become a guide
        li: a(href='#') Careers
        li: a(href='#') Contacts
    p.footer__copyright &copy; by Akshith Gunasheelan.